services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: true

  Ayacoo\Tiktok\:
    resource: '../Classes/*'
    exclude:
      - '../Classes/Domain/Model/*'
      - '../Classes/Helper/*'
